{% extends 'base_list.html' %}

{% block head %}
    {{ block.super }} <!-- make sure the bootstrap in the head of base_list.html get loaded (base implementation) -->
    <title>Person List</title>
{% endblock %}

{% block heading %} <!-- override the heading of the base_list.html; don't include block.super -->
    People List
{% endblock %}

{% block content %}
<ol>
{% for person_item in object_list %}
    <li>
        {% include "person_list_item.html" with person=person_item with %}
    </li>
{% empty %}
    <li>
        No People Added!
    </li>
{% endfor %}
</ol>
{% endblock %}
